# Copyright 2020 Joaquín M López Muñoz.
# Distributed under the Boost Software License, Version 1.0.
# (See accompanying file LICENSE_1_0.txt or copy at
# http://www.boost.org/LICENSE_1_0.txt)
#
# See https://github.com/joaquintides/boostcdmap/ for project home page.

language: python
python: "2.7"
os: linux
dist: xenial
compiler: clang++-10
addons:
  apt:
    packages:
      - clang-10
    sources:
      - ubuntu-toolchain-r-test
      - sourceline: 'deb https://apt.llvm.org/xenial/ llvm-toolchain-xenial-10 main'
        key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'

env:
  - BOOST_RELEASE=1.73.0
  
install:
  - git clone -b boost-$BOOST_RELEASE --depth 1 https://github.com/boostorg/boost.git boost-root
  - cd boost-root
  - git submodule update --init
  - cd ..
  
script:
  - python boostcdmap.py -bboost-root boostmincxx.$BOOST_RELEASE.json